
Saved/Config/CrashReportClient/UE4CC-Windows-460922F747F560CC439F61B184DA5C43/CrashReportClient.ini
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UE4CC-Windows-77CCE8F3400F96F447D458908CB7D84A/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-9C8E438B43BC74D1E7B8F0A5C4547E86/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-B43A67E1465B246584383E8C644DD05E/CrashReportClient.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/WorldState/1022367935.json
Saved/Logs/GMTK_Gamejam_2022-backup-2022.07.08-21.37.55.log
Saved/Logs/GMTK_Gamejam_2022-backup-2022.07.08-23.10.19.log
Saved/Logs/GMTK_Gamejam_2022-backup-2022.07.08-23.12.51.log
Saved/Logs/GMTK_Gamejam_2022-backup-2022.07.08-23.13.37.log
Saved/Logs/GMTK_Gamejam_2022.log
Intermediate/CachedAssetRegistry.bin
Saved/Logs/GMTK_Gamejam_2022.log
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UE4CC-Windows-242DF4E94240DC5572D92685071048F7/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-31EF5D9A487486AFBFA822A9CF1C9CA5/CrashReportClient.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Intermediate/CachedAssetRegistry.bin
Saved/Logs/GMTK_Gamejam_2022-backup-2022.07.09-20.51.57.log
Saved/Logs/GMTK_Gamejam_2022-backup-2022.07.09-21.08.33.log
Saved/Logs/GMTK_Gamejam_2022.log
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/GMTK_Gamejam_2022.log
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Saved/Logs/GMTK_Gamejam_2022.log
Saved/Logs/GMTK_Gamejam_2022_2-backup-2022.07.09-20.41.33.log
Saved/Logs/GMTK_Gamejam_2022_2.log
*.log
*.bin
*.ini
Saved/
/Intermediate/
/Saved/

*.log
*.bin
*.json
Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Saved/Logs/GMTK_Gamejam_2022.log
Config/DefaultEditor.ini
Intermediate/CachedAssetRegistry.bin
Saved/Autosaves/PackageRestoreData.json
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/GMTK_Gamejam_2022.log
Intermediate/CachedAssetRegistry.bin
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/GMTK_Gamejam_2022.log
Saved/Logs/GMTK_Gamejam_2022.log
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
Intermediate/CachedAssetRegistry.bin
